<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.metacog"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="9" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.metacog.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.metacog.SerieActivity"
            android:label="@string/title_activity_serie"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.example.metacog.EtreEmpathiqueI_Activity"
            android:label="@string/title_activity_question"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.example.metacog.AdminActivity"
            android:label="@string/title_activity_admin"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.example.metacog.AdminModuleActivity"
            android:label="@string/title_activity_admin_module"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.example.metacog.AdminSerieActivity"
            android:label="@string/title_activity_admin_serie"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.example.metacog.LogActivity"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.example.metacog.ModulesActivity"
            android:label="@string/title_activity_modules"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.example.metacog.EndExerciceActivity"
            android:label="@string/title_activity_end_exercice"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.example.metacog.SauterConclu_Activity"
            android:label="@string/title_activity_sauter_conclu"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.example.metacog.AdminSerieAddM1Activity"
            android:label="@string/title_activity_admin_serie_add"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.metacog.AdminSerieActivity" />
        </activity>
        <activity android:name="ar.com.daidalos.afiledialog.FileChooserActivity" />
        <activity
            android:name="com.example.metacog.AdminAddSerieActivity"
            android:label="@string/title_activity_admin_add_serie"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.metacog.AdminModuleActivity" />
        </activity>
        <activity
            android:name="com.example.metacog.AdminDelNodeActivity"
            android:label="@string/title_activity_admin_del_node"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.example.metacog.AdminSerieAddSauterConcluActivity"
            android:label="@string/title_activity_admin_serie_add_sauter_conclu" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.metacog.AdminSerieActivity" />
        </activity>
    </application>

</manifest>
